.button-for-form {
  display: block;
  min-height: 59px;
  border: none;
  border-radius: 4px;
  background-color: #2AAB6D;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.button-for-form:hover {
  background-color: #1C9B5E;
}
.button-for-form:active {
  background-color: #1C9B5E;
  color: rgba(255, 255, 255, 0.3);
}
.button-for-form:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}