.button-for-form {
  display: block;
  min-height: 59px;
  border: none;
  border-radius: 4px;
  background-color: #2AAB6D;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}