.button-for-form {
  display: block;
  min-height: 59px;
  border: none;
  border-radius: 4px;
  background-color: #2aab6d;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.button-for-form:hover {
  background-color: #1C9B5E;
}

.button-for-form:active {
  background-color: #1c9b5e;
  color: rgba(255, 255, 255, 0.3);
}

.button-for-form:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}
