.button {
  color: white;
  border: 3px solid white;
  border-radius: 29px;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}