.download {
  @media (min-width: 660px) {
    position: relative;
    padding: 0 20px;
    background-image: url(../img/phone-tablet.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right 20px;
  }
  @media (min-width: 1080px) {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 130px;
    background-image: url(../img/phone-dekstop.png);
    background-position: bottom right;
  }
}