.download {
  position: relative;
  @media (min-width: 660px) {
    position: relative;
    padding: 0 20px;
  }
  @media (min-width: 1080px) {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 130px;

  }
}