.download-post {
  background-color: rgba(242, 242, 242, 1);
  padding-top: 20px;
  padding-bottom: 41px;
  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: calc(@max-width * 0.87);
    width: 87%;
    padding: 57px 60px 57px 80px;
  }
}