.download {
  position: relative;
  @media (min-width: 660px) {
    position: relative;
    padding: 0 20px;
  }
  @media (min-width: 1080px) {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
