.header-form {
  color: #FFFFFF;
  background-color: transparent;
  padding: 36px 0 51px;
  @media (min-width: @tablet-width) {
    padding: 81px 0 74px;
  }
}

.header-form h2 {
  width: 72%;
  max-width: 228px;
  margin: 0 auto;

  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  @media (min-width: @tablet-width) {
    width: auto;
    max-width: 620px;
    font-size: 50px;
    line-height: 68px;
  }
}