.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 271px;
  padding: 28px 0 25px;
  background-color: #1d2631;
}

@media (min-width: 660px) {
  .links {
    height: auto;
    width: 300px;
    background-color: transparent;
    padding: 0;
  }
}
