.main-nav {
  @media (max-width: @mobile-width-only) {
  min-height: 66px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  }
  @media (min-width: 940px) {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 660px) {
  .main-nav{
    height: 110px;
  }
}
@media (min-width: 1080px) {
  .main-nav {
    padding: 0;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
}