.map {
  // min-height: 200px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: url(../img/map.png);
  // width: 100%;
  // @media (min-width: @tablet-width) {
  //   min-height: 374px;
  //   background-image: url(../img/tablet__map.png);
  // }
  // @media (min-width: @desktop-width) {

  // }
}
.map img {
  width: 100%;
}
.map_mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.map_tablet {
  display: none;
  @media (min-width: @tablet-width) and (max-width: 1079px) {
    display: block;
  }
}
.map_desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
