html {
  height: 100%;
}
.page-body {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  outline: 2px solid rgb(192, 46, 2);
  outline-offset: -2px;

  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}