html {
  height: 100%;
}
.page-body {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}