.red_title_in_form {
  display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}