.reviews {
  position: relative;
  background-color: white;
  color: #283645;
  min-height: 394px;
  margin-bottom: -56px;
  z-index: 2;
}
.reviews {
  @media (min-width: @tablet-width) {
    margin-bottom: -29px;
    min-height: 221px;
  }
}

.reviews {
  @media (min-width: @desktop-width) {
    padding-top: 72px;
    margin-bottom: -70px;
  }
}