.adventages__header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 46px 0 50px;
  margin: 0 auto;
  width: 280px;
  height: 100%;
}
@media (min-width: 660px) {
  .adventages__header-wrapper {
    width: 100%;
    padding: 0;
  }
  .adventages__header-wrapper h2 {
    line-height: 48px;
  }
}
@media (min-width: 1080px) {
  .adventages__header-wrapper {
    max-width: 1400px;
    justify-content: space-around;
  }
}
