.advantages__list {
  padding: 129px 20px 0;
  height: 828px;
  margin-top: -70px;
  text-align: center;
  //background-color: #F2F2F2;
  background-image: url(/img/grey_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #283645;
}