.advantages__pic-wrapper {
  position: relative;
  height: 320px;
  width: 157px;
  margin-bottom: -36px;
  background-image: url(../img/iphone_3.png);
  background-repeat: no-repeat;
  background-size: auto;
}
@media (min-width: @tablet-width) {
  .advantages__pic-wrapper {
    order: 0;
    height: 481px;
    width: 268px;
    margin-bottom: 0;
    background-image: url(../img/iphone3-tablet.png);
  }
}
@media (min-width: 1080px) {
  .advantages__pic-wrapper {
    display: none;
  }
}
