.advantages__pic-screen {
  height: 244px;
  width: 136px;
  position: absolute;
  top: 38px;
  left: 10px;
  background-image: url(../img/iphone_screen.png);
  background-size: auto;
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .advantages__pic-screen {
    background-image: url(../img/iphone_screen-tablet.png);
    background-size: contain;
    height: 421px;
    width: 237px;
    top: 64px;
    left: 15px;
  }
}
