// .advantages__pic-wrapper {
//   height: 277px;
//   width: 157px;
//   position: relative;
//   overflow: hidden;
// }
// .advantages__pic-wrapper img:nth-child(2) {
//   position: absolute;
//   top: 39px;
//   left: 10px;
// }

// .advantages__pic-wrapper img:nth-child(3) {
//   position: absolute;
//   top: 39px;
//   left: 10px;
// }
.advantages__pic-wrapper {
  position: relative;
  height: 320px;
  width: 157px;
  margin-bottom: -36px;
  background-image: url(../img/iphone_3.png);
}
@media (min-width: 660px) {
  .advantages__pic-wrapper {
    position: absolute;
  }
}
