.adventages__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: @tablet-width) {
  .adventages__header {
    height: auto;
    padding-top: 58px;
  }
}
@media (min-width: 1080px) {
  .adventages__header {
    height: 317px;

    padding: 0;
    padding-top: 66px;
    padding-bottom: 63px;
  }
}
