.contacts__wrapper {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__wrapper b {
  margin-bottom: 13px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}