.contacts-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  @media (min-width: @tablet-width) {
    .registration__user-name & {
      flex-direction: row;
      margin-bottom: 56px;
    }
    .registration__address-list & {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
  @media (min-width: @desktop-width) {
    .registration__address-list & {
      margin-bottom: 0;
      flex-grow: 1;
    }
  }
}
.contacts-list__item:last-child {
  margin-bottom: 0px;
}