.download__wrapper {
  display: flex;
  flex-direction: column;
  height: 667px;
  padding-top: 29px;
}

@media (min-width: 660px) {
  .download__wrapper {
    height: 619px;
    width: 300px;
    padding-top: 102px;
  }
}
