.download__main-img {
  // position: relative;
  height: 285px;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .download__main-img {
    background-image: url(../img/screen-tablet.png);
    position: absolute;
    top: 128px;
    right: 114px;
    height: 346px;
    width: 195px;
    margin: 0;
  }
}