.download__header-image {
  height: 100%;
  position: relative;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media (min-width: 660px) {
  .download__header-image {
    background: none;
    display: none;
  }
}