.download__header-screen {
  position: absolute;
  top: 32px;
  left: 104px;
  height: 197px;
  width: 111px;
  background-image: url(../img/screen.png);
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 660px) {
  .download__header-screen {
    position: absolute;
    top: 54px;
    left: auto;
    right: 94px;
    height: 346px;
    width: 195px;
    background-image: url(../img/screen-tablet.png);
  }
}
@media (min-width: 1080px) {
  .download__header-screen {
    position: absolute;
    top: 65px;
    right: 120px;
    height: 408px;
    width: 230px;
    background-image: url(../img/screen-dekstop.png);
  }
}