.download__header-screen {
  position: absolute;
  top: 32px;
  left: 104px;
  height: 197px;
  width: 111px;
  background-image: url(../img/screen.png);
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 660px) {
  .download__header-screen {
    background: none;
    display: none;
  }
}