.form-cancel__button {
  opacity: 10%;
  width: 100%;
  height: 55px;
  color: #283645;
  border-color: #283645;
  @media (min-width: @tablet-width) {
    width: 95%;
    margin-right: auto;
  }
  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.form-cancel__button:hover {
  opacity: 30%;
}

.form-cancel__button:active {
  background-color: #283645;
  opacity: 30%;
  color: rgba(255, 255, 255, 0.3);
}