.links__button {
  margin-bottom: 32px;
  width: 85%;
  height: 55px;
  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }
  @media (min-width: 1080px) {
    margin-bottom: 67px;
  }
  &:hover {
    background-color: white;
    color: #D22856;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
