.main-nav--opened .main-nav__wrapper {
  position: absolute;
  z-index: 15;
  top: 66px;
  right: 0;
  left: 0;
}
.main-nav--closed .main-nav__wrapper {
  @media (max-width: @mobile-and-tablet-width-only) {
    display: none;
  }
}
