.main-nav__logo {
  position: relative;
  z-index: 10;
  width: 74px;
  height: 23px;
  align-self: center;
  box-sizing: content-box;
  background-image: url(../img/logo-mobile.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
    background-image: url(../img/logotype-white-tablet.svg);
    align-self: start;
    padding-top: 27px;
    background-position: bottom;
  }
}

@media (min-width: 1080px) {
  .main-nav__logo {
    width: 147px;
    background-image: url(../img/logotype-white-desktop.svg);
  }
}
