.modal__error {
  padding-bottom: 52px;
  display: none;
  & br {
    display: none;
    @media (min-width: @tablet-width) {
      display: block;
      padding-bottom: 54px;
    }
    @media (min-width: @desktop-width) {
      display: none;
      padding-bottom: 52px;
    }
  }
}