.page-header__toggler {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border: none;
  height: 24px;
  width: 50px;
  background-color: transparent;
}
.page-header__toggler div {
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
