.photo-catalog__review {
  width: 87%;
  margin: 0 auto;
  padding: 26px 17px;
  padding-right: 0;
  padding-bottom: 0;
  background-color: rgba(242, 242, 242, 1);
}

.photo-catalog__review cite {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  text-decoration: none;
}
.photo-catalog__review span {
  color: rgba(40, 54, 69, 1);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
}

.photo-catalog__review p {
  padding-top: 13px;
}