.photo-catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    min-height: 455px;
  }
}
.photo-catalog__item:not(:last-child) {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {

}

.photo-catalog__img-wrapper {
  display: block;
  width: auto;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
.photo-catalog__img-wrapper img {
  width: 100%;
}