.photo-catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.photo-catalog__item:not(:last-child) {
  margin-bottom: 20px;
}

.photo-catalog__item--daily-pan::before {
  position: absolute;
  padding: 13px 19px 14px;
  top: 0;
  right: 6.5%;
  content: "панорама дня";
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 140px;
  //height: 36px;
  background-color: rgba(210, 40, 86, 1);
}