.photo-catalog__review {
  width: 87%;
  margin: 0 auto;
  padding: 26px 17px;
  padding-right: 0;
  padding-bottom: 0;
  background-color: rgba(242, 242, 242, 1);
}
.photo-catalog__review span {
  font-weight: 300;
  font-size: 13px;
  line-height: 1;
}