.photo-catalog__daily-panorama-list {
  margin-bottom: 19px;
  color: rgba(40, 54, 69, 1);
  background-color: rgba(256, 256, 256, 1);
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}
.photo-catalog__wrapper-daily-panorama {
  max-width: 1300px;
  margin: 0 auto;
}

.photo-catalog__daily-panorama-list img {
  width: 100%;
}

.photo-catalog__daily-panorama-list .photo-catalog__review {
  margin: 0 20px;
  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0 20px;
    padding: 30px 30px 32px;
  }
  @media (min-width: @desktop-width) {
    width: 87%;
    margin: 0 auto;
    padding: 31px 27px 31px;
  }
}
@media (min-width: @tablet-width) {
  .photo-catalog__daily-panorama-list .photo-catalog__like {
    position: absolute;
    top: @top-margin-panorama;
    right: @right-margin-panorama;
  }
  .photo-catalog__daily-panorama-list .photo-catalog__like p {
    margin-right: 16px;
  }
}
@media (min-width: @desktop-width) {

}
.photo-catalog__daily-panorama-list .photo-catalog__item::before {
  position: absolute;
  top: 0;
  right: 6.5%;
  z-index: 10;
  display: block;
  width: 140px;
  padding: 13px 19px 14px;
  color: white;
  content: "панорама дня";
  background-color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  @media (min-width: @tablet-width) {
    top: 57px;
    right: 20px;
  }
  @media (min-width: @desktop-width) {
    top: 54px;
    right: 6.5%;
  }
}