.product__wrapper {
  position: relative;
  background-image: url(../img/grey_background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: white;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    padding-top: 145px;
    padding-bottom: 70px;
  }
}