.registration__platphorm {
  padding-top: 42px;
  padding-bottom: 42px;
  color: #283645;
  background-color: #F2F2F2;
  @media (min-width: @tablet-width) {
    position: relative;
    order: -4;
    margin: 0 20px;
    padding: 0;
    padding: 54px 0 54px;
    margin-bottom: 70px;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
  }
}