.registration__necessarily-area {
  width: 86%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.registration__necessarily-area span {
  color: #D22856;
}