.registration__platphorm-text {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 68%;
  max-width: 218px;
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 25px 0;
    width: max-content;
    max-width: none;
    position: absolute;
    top: -11px;
    .centerX();
    & br {
      display: none;
    }
    background-color: #FFFFFF;
  }
}