.registration__emotion {
  padding-top: 42px;
  margin-bottom: 52px;
  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0 22px;
    margin-bottom: 70px;
    padding-top: 47px;
    padding-bottom: 53px;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
  }
}