.registration__achievement-checkbox-title {
  display: block;
}

.registration__achievement:nth-child(2) .registration__achievement-checkbox-title {
  padding: 10px 0 10px 57px;
}

.registration__achievement:nth-child(4) .registration__achievement-checkbox-title {
  padding: 10px 0 10px 68px;
}
