.registration__contacts-text {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 0 31px 0;
    width: max-content;
    max-width: none;
    position: absolute;
    top: -11px;
    .centerX();
    & br {
      display: none;
    }
    background-color: #FFFFFF;
  }
}