.registration__user-name-bonus {
  margin: 0 auto;
  margin-bottom: 55px;
  text-align: center;
  width: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
    max-width: 490px;
    width: auto;
    font-size: 18px;
  }
  @media (min-width: @desktop-width) {
    max-width: none;
    width: 63%;
  }
}
.registration__user-name-bonus span {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    display: inline;

  }
}