.registration__achievement-text {
  margin: 0 auto;
  margin-bottom: 44px;
  width: 68%;
  max-width: 218px;
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -11px;
    margin: 0;
    .centerX();
    width: max-content;
    max-width: none;
    padding: 0 31px 0;
    background-color: #FFFFFF;
  }
}