.registration__achievement {
  padding-top: 42px;
  padding-bottom: 44px;
  color: #283645;
  background-color: #F2F2F2;
  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0 22px;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
    padding-top: 54px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }
  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }
}