.registration__necessarily-area {
  width: 86%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  @media (min-width: @tablet-width) {
    flex-grow: 320;
    width: auto;
  }
}
.registration__necessarily-area span {
  color: #D22856;
}