.reviews__button {
  @media (max-width: 659px) {
    display: none;
  }
  z-index: 100;
  width: 22px;
  height: 41px;
  display: block;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 50%;
  cursor: pointer;
}