.select-list__field_checkbox[type="checkbox"]:checked +
.select-list__control_checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 22px;
  height: 16px;
  background-image: url(../img/checked-form.svg);
  background-position: center;
  background-repeat: no-repeat;
}