.select-list__field_radio[type="radio"]:checked +
.select-list__control_radio::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D22856;
}