.site-list__item {
  position: relative;
}
.site-list__item:first-child:before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 28px;
  right: 28px;
  height: 2px;
  background-color: white;
}