.social__link {
  height: 58px;
  width: 58px;
  display: block;
  padding: 17px 15px;
  position: relative;
}
.social__link:hover circle {
  opacity: 100%;
}
.social__link:active {
  & circle {
  opacity: 10%;
  }
  & use {
    opacity: 30%;
  }
}