@download__title: 58px;
@download__main-img: 286px;

@mobile-width-only: 659px;
@mobile-and-tablet-width-only: 1079px;
@tablet-width: 660px;
@desktop-width: 1080px;

.centerX() {
  left: 50%;
  transform: translateX(-50%);
}